@model Book_GUI.ViewModels.CategoryBookViewModel
@{
    ViewData["Title"] = "GetCategoryById";
}

<div asp-validation-summary="ModelOnly" class="text-danger">
</div>
<div>
    <h4>Category Detail</h4><br />
    <h4>@ViewBag.SuccessMessage</h4>
    <div>
        <p>
            <strong>Category Name :</strong> @Model.category.Name

        </p>
    </div>
    <div class="form-group text-center">
        <a class="btn btn-sm btn-primay" asp-action="UpdateCategory" asp-controller="Categories" asp-route-categoryid="@Model.category.Id"> | Update CAtegory</a>
        <a class="btn btn-sm btn-info" asp-action="DeleteCategory" asp-controller="Categories" asp-route-categoryid="@Model.category.Id"> | Delete Category</a>
    </div>
    <br /><br />
    <h5>@ViewBag.msgBook</h5>

    <div>
        @foreach (var item in Model.bookDtosList)
        {
            <div>
                <p>
                    <strong>Title</strong> @item.Title
                    <a asp-controller="Home" asp-action="GetBookById" asp-route-bookid="@item.Id"> Book Detail</a>
                </p>
            </div>
        }
    </div>
</div>

