@model Book_GUI.ViewModels.CountryAuthorViewModel
@{
    ViewData["Title"] = "GetCountryById";
}

<div asp-validation-summary="ModelOnly" class="text-danger">
</div>
<div>
    <h4>Country Detail</h4><br />
    <div>
        <p>
            <strong>Country Name :</strong> @Model.Country.Name

            <a class="btn btn-sm btn-primary" asp-action="UpdateCountry" asp-controller="Countries" asp-route-countryId="@Model.Country.Id"> | Update Country</a>
            <a class="btn btn-sm btn-info" asp-action="DeleteCountry" asp-controller="Countries" asp-route-countryId="@Model.Country.Id"> | Delete Country</a>
        </p>
    </div>
    <br /><br />
    <h5>@ViewBag.AuthorMsg</h5>

    <div>
        @foreach (var item in Model.Authors)
        {
            <div>
                <p>
                    <strong>Author Name</strong> @item.FirstName @item.LastName
                    <a asp-controller="Authors" asp-action="GetAuthorById" asp-route-authorid="@item.Id"> Author Detail</a>
                </p>
            </div>
        }
    </div>
</div>

